{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block body %}
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
        <h4 class="text-center fw-lighter mb-4">A Scalable Systems Laboratory for IRIS-HEP</h4>
        <p>
        This platform uses the resources of the IRIS-HEP Scalable Systems Laboratory <a href="https://iris-hep.org/ssl.html">(https://iris-hep.org/ssl.html)</a> at the University of Chicago.
        </p>
    </div>
</section>
{% endblock %}